<center>
    <div id="modal" class="modaladmin">
        <a id="closepop" href="#" onclick="return hide('modal')" style="float:right;"><img src='~/Content/images/close.png' width="20" height="20" /></a>
        <br />
        <br />
        <br/>
        <label style="font-weight:bold;" id="msg1"></label>
    </div>
</center>
