
<!-- Modal -->
<div class="modal fade" id="CompModal">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ML Compliance Link</h4>
            </div>
            <div class="modal-body">
                <center>
                    <label class="switch">
                        <input type="checkbox" id="stc">
                        <span class="slider round"></span>
                    </label> <p id="stat"></p>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>